# Backend — Maven
backend/target/
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar
backend/mvnw
backend/mvnw.cmd

# Frontend — Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.class

# Sistema
.DS_Store
Thumbs.db

# Env
.env
*.env.local

# Logs
*.log
